{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
   <h1>{{ user.name }} {{user.surname}}</h1>
   <h2>{{ user.email}}</h2>
   <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile Info</legend>
    <div class="form-group">
      {% if user.is_authenticated %}<a class="btn btn-outline-info" href="{% url 'user_update' %}">
        Update Client
      </a>{% endif %}<br>
      <p>
        <div>Name:&emsp; {{ user.name}}</div> 
        <div>Surname:&emsp; {{user.surname}} </div>
        <div>Email:&emsp; {{user.email}}</div>
        <div>Age:&emsp; {{user.age}} </div>
        <div>Telephone number:&emsp; {{ user.tel_number}} </div>
      </p>
      <p>
        <h3>Your products</h3>
        {% if user.is_authenticated %}<a class="btn btn-outline-info" href="{% url 'user_products' %}">
          Manage your products
        </a>{% endif %}<br>
          <div> {{ user.insurance }}</div>
          <div> Insurance price: &emsp;{{user.insurance_value}} EURO</div>
      </p>
  </form>
</div>

{% endblock %}